<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container-fluid">
  
        <div class="navbar-header">
  
           <a class="navbar-brand">Leave Management</a>
  
        </div>
  
        <ul class="nav navbar-nav navbar-right">
    
            <li><a href=""><i class="fa fa-power-off fa-2x"></i></a></li>
          
  
        </ul>
  
    </div>
  
  </nav>
  
  
  <div class="container-fluid">
  
    <div class="row">
    
      <div class="col-sm-3 col-md-2 sidebar">
  
       
  
        <div class="nav nav-sidebar border border-dark border-top-0">
  
          <div>
            <button class="btn" [routerLink]="['/admin/employees']">Employee</button>
          </div>
        </div>
        <div class="nav nav-sidebar border border-dark border-top-0">
  
          <div>
            <button class="btn"  [routerLink]="['/admin/leave']">Leave Configuration</button>
          </div>
        </div><div class="nav nav-sidebar border border-dark border-top-0">
  
          <div>
            <button class="btn" [routerLink]="['/admin/leavelist']">Leave List</button>
          </div>
        </div>
      </div>
      
    </div>
  
  </div>