#login .container #login-row #login-column #login-box {
    margin-top: 50px;
    max-width: 500px;
    height: 320px;
    border: 1px solid black;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  #login h3{
      margin-top: 100px;
  }
  #login button{
      background-color: slateblue;
      float: right;
  }
  #login label{
      color: slateblue;
  }
  .field-error{
      border: 1px solid red;
  }